/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --text: black;
    --hlbg: orange;
    --bg: white;
    --buttonbg: grey;
    --hoverbg: lightgrey; 
}
body{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}
header{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

/* Header */
.main-header{
    background: hlbg;
    text-align: center;
}
.page-title-large{
    font-size: 36px;
}
.page-subtitle-large{
    font-size: 20px;
}
.main-nav a{
    color: black;
    text-decoration: none;
}
.main-nav-button{
    background: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.main-nav-button:hover{
    background: grey;
}