
:root{
  --background: white;
  --headerbackground: orange;
  --text: black;
  --button: lightgrey;
  --buttonhover: grey;
}

/* Global Styles */
html, body, body *{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
script{
    display: none;
}

/* Header */
.main-header{
    border-bottom: 3px double rgba(0,0,0,.7);
    background: var(--headerbackground);
    text-align: center;
}
.page-title-large{
    font-size: 36px;
}
.page-subtitle-large{
    font-size: 20px;
}
.main-nav ul{
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
.main-nav a{
    color: var(--text);
    text-decoration: none;
}
.main-nav-button{
    background:var(--button);
    border: 1px solid rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
.main-nav-button:last-child{
    margin-right: 0;
}
.main-nav-button:hover{
    background: var(--buttonhover);
}